$dark-color: #0c084c;
$main-color: #096386;
$text-color: grey;
$padding: 40px;
$text-padding: 20px;
$small-text-padding: 10px;

h1, h2, h3, h4, h5, p, div{
    margin: 0;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

@mixin simpleButton{
    text-decoration: none;
    color: $main-color;
    font-weight: bold;
        &:hover{
            color: $dark-color;
        }
}

@mixin button{
    background-color: $main-color;
    padding: 10px;
    color: white;
        &:hover{
            background-color: $dark-color;
        }
}

@mixin reverseButton{
    background-color: $dark-color;
    padding: 10px;
    color: white;
        &:hover{
            background-color: $main-color;
        }
}

@mixin subtitle{
    h3{
        color: $main-color;
        border-left: 5px solid $main-color;
        padding-left: 10px;
        margin-bottom: $text-padding;
    }
    i{
        padding-right: 10px;
    }
}

@mixin doubleBorderBox{
    border: 3px double grey;
    padding: $text-padding;
    margin-bottom: $text-padding;
    h4{
        padding-bottom: $small-text-padding;
    }
    h4.degreeTranslation{
        font-weight: normal;
        font-size: 14px;
        padding: 0;
    }
    h5{
        padding-bottom: $small-text-padding;
        border-bottom: solid 1px grey;
        font-weight: bold;
        font-style: italic;
    }
    p{
        padding-top: $small-text-padding;
    }
    @include list()
}

@mixin list{
    ul{
        margin-top: $text-padding;
        span{
            color: $main-color;
        }
    }
}


body{
    height: 100vh;
    margin: 5vh 50px;
    font-family: 'Open Sans', sans-serif;
    background: linear-gradient(167deg, rgba(12,8,76,1) 0%, rgba(9,99,134,1) 52%, rgba(0,183,168,1) 100%);
    display: grid;
    grid-template-columns: 1fr 3fr 3fr;
    grid-column-gap: 10px;
    overflow: hidden;
    nav{
        a{
            @include button;
            display: block;
            margin: 0 0 5px;
        }
    }
    div.resume{
        overflow: scroll;
    }
    div.personalInfo, div.resume{
        background-color: white;
        padding: $padding;
        height: 70vh;
    }
    div.personalInfo{
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        h1{
            margin: 0 0 $text-padding;
            span{
                color: $main-color;
            }
        }
        p.position{
            padding-bottom: $text-padding;
            border-bottom: 1px solid black;
            font-weight: bold;
            text-align: center;
        }
        p.description{
            padding: $text-padding 0;
        }
        div.email{
            @include button;
            width: 100%;
            text-align: center;
            border-radius: 10px;
        }
        ul.socialMedia{
            margin: $text-padding 0;
            display: flex;
            li{
                color: white;
                margin: 0 5px;
            }
        }
    }
    div.resume{
        h2{
            color: $dark-color;
            padding-bottom: $text-padding;
            border-bottom: 1px solid $dark-color;
        }
        div.download{
            margin-top: $text-padding;
            display: flex;
            flex-direction: row;
            a{
                @include reverseButton;
                text-align: center;
                margin-right: $text-padding;
                &:last-of-type{
                    margin-right: 0;
                }
            }

        }
        div.educationBox{
            margin-top: $text-padding;
            
        }
        div.subtitle{
            @include subtitle();
        }
        div.education{
            @include doubleBorderBox();
        }
            
    }
    div.languages{
        div.subtitle{
            @include subtitle();
        }
        div.languagesContent{
            @include doubleBorderBox();
        }
    }
    div.portfolio{
        a{
            @include simpleButton();
        }
    }
}

.show{
    display: block;
}

.hide{
    display: none;
}